<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>豪华明星阵容</title>
		<link rel="stylesheet" href="../css/common.css" />
		<!--<link rel="stylesheet" href="../css/product.css" />-->
		<style>
			.con-service-list{background:url(../img/timg.png) 0 0/100% 100% no-repeat}
			.listdetail{padding-top:50px}
			.listdetail li{font-size:18px;padding-top:50px;padding-bottom:25px;position:relative;}
			.wrap{display:inline-block;position:relative;float:left;height:240px;}
			.wrap div{position:absolute;top:0;height:200px;width:200px;text-align:center;color:#65780e;font:30px/130px "微软雅黑";}
			.last{padding-bottom:80px;position:relative;}
			/*.listdetail .wrap img{height:130px;width:160px}*/
			.smaller-image{ top: 20px;left:20px;right:20px;height:200px;width:200px;border-color: white;border-width: 1px;border-style: solid;border-radius:50%;}  /*对图片进行裁剪以显示圆形区域*/

		</style>
		<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=7IN3zE1VQTY6XEGACnvqWRdLZjXeEvRs"></script>
	</head>
	<body>
		<div class="con-service-list setHeight">
			<!--导航条-->
			<div class="line"></div>
			<div class="index-header">
				<div class="auto">
					<a href="index.html" id="logo"></a>
					<ul class="clear">
						<li>
							<a href="index.html">首页</a>
						</li>
						<li class="twoLevel">
							<a href="product.html">产品与解决方案</a>
						</li>
						<li>
							<a href="service.html">品牌优势</a>
						</li>
						<li>
							<a href="employ.html">人才招聘</a>
						</li>
						<li>
							<a href="about.html">了解我们</a>
						</li>
					</ul>
				</div>
			</div>
		</div> 
		<!--为con-service-list给屏幕高度-->
		<div class="listdetail">
			<div class="auto"> 
				<ul>
					<li class="clear"> 
						<div class="wrap">
							<img src="../img/mingxing/huge.jpg" width="220px" class="smaller-image"/>
						</div>						
						<dl>
							<h2>胡歌</h2>
						    <dd class="intro">
						    	<span>&nbsp;&nbsp;&nbsp;&nbsp;胡歌，1982年9月20日出生于上海市徐汇区，中国内地演员、歌手。1996年，14岁的胡歌便成为上海教育电视台的小主持人，2005年毕
									业于上海戏剧学院表演系，同年在仙侠剧《仙剑奇侠传》中塑造了“李逍遥”一角，并演唱该剧插曲《六月的雨》《逍遥叹》。2006年8月遭
									受严重车祸，2007年6月复出。2009年主演仙侠剧《仙剑奇侠传三》。2010年主演的穿越剧《神话》在央视八套播出。2011年参演历史题材</span>
						    </dd>
						</dl>
					</li>
					<li class="clear">
						<div class="wrap">
							<img src="../img/mingxing/wuyifan.jpg" class="smaller-image"/>
						</div>
						<dl>
							<h2>吴亦凡</h2>
							<dd class="intro">
						    	<span>&nbsp;&nbsp;&nbsp;&nbsp;吴亦凡（Kris），1990年11月6日出生于广东省广州市，华语影视男演员、流行乐歌手。2007年，吴亦凡加入了韩国SM娱乐公司。2012
									年作为EXO组合成员正式出道，担任EXO/EXO-M队长、主Rapper、门面。2014年5月15日，吴亦凡正式向首尔中央地方法院请求判决与SM
									娱乐公司专属合同无效。之后吴亦凡回归中国发展，出演个人首部电影，担任徐静蕾执导的电影《有一个地方只有我们知道》男主角</span>
							</dd>
						</dl>
					</li>
					<li class="clear">
						<div class="wrap">
							<img src="../img/mingxing/liuyifei.jpg" class="smaller-image" weight=""/>
						</div>
						<dl>
							<h2>刘亦菲</h2>
							<dd class="intro">
						    	<span>&nbsp;&nbsp;&nbsp;&nbsp;刘亦菲，1987年8月25日出生于湖北省武汉市，华语影视女演员、歌手，毕业于北京电影学院2002级表演
									系本科班。2002年主演个人首部电视剧《金粉世家》，从而踏入演艺圈。2003年因主演武侠剧《天龙八部》崭露头角。2004年凭借仙侠剧
									《仙剑奇侠传》赵灵儿一角获得了高人气与关注度。2005年因在金庸剧《神雕侠侣》中饰演小龙女受到广泛关注。2006年发行首张音乐专
									辑《刘亦菲》；</span>
							</dd>
						</dl>
					</li>
				</ul> 
				<!--<div class="page">-->
					<!--<a class="pre" href="#">上一篇：xxxx</a>-->
					<!--<a class="next" href="#">下一篇：xxxx</a>-->
				<!--</div>-->
			</div>
		</div>
		<div class="footer ">
			<div class="auto clear">
				<dl>
					<dt><a href="/product.html">产品展示</a></dt>
					<img src="./img/gong_si_er_wei_ma.jpg" height="150px" width="150px"/>
					<br/>
					公司公众号
				</dl>
				<dl>
					<dt><a href="about.html">公司简介</a></dt>
					<img src="./img/xiao_feng_music.jpg" height="150px" width="150px"/>
					<br/>
					小锋音乐公众号
				</dl>
				<dl>
					<dt><a href="employ.html">人才招聘</a></dt>
					<img src="./img/wei_bo_er_wei_ma.jpg" height="150px" width="150px"/>
					<br/>
					新浪微博
				</dl>
				<dl class="img">
					<dt>联系我们</dt>
					<dd>北京市房山区</dd>
					<dd>176-00733846</dd>
					<dd>17600733846@163.com</dd>
				</dl>
			</div>
			<p class="copyrigt">copyright ©2018北京小锋文化传媒有限公司 备案号：XXXXXXX</p>
		</div>
		</div>
		 <!--底部联系-->
		<div class="float-contect">
			<div class="tel">
				<span></span>
				<div class="slide-tel">
					176-00733846
				</div> 
			</div>
			<div class="online">
				<span></span>
				<div class="slide-online">
					在线咨询
				</div> 
			</div>
			<div class="backtop">
				<span></span>
				<div class="slide-top">
					回到顶部
				</div> 
			</div>
		</div> 
		<!--百度地图--> 
		 <div class="map">
	    	<div class="close"></div>
	    	<div id="showMap"></div> 
	    </div> 
		<script type="text/javascript" src="../js/jquery-1.12.1.min.js" ></script>
		<script type="text/javascript" src="../js/common.js" ></script>
	</body>
</html>
