<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>豪华明星阵容</title>
    <link rel="stylesheet" href="../css/common.css" />
    <link href="@{https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet"/>
    <!--<link rel="stylesheet" href="../css/product.css" />-->
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=7IN3zE1VQTY6XEGACnvqWRdLZjXeEvRs"></script>
    <style>
        .con-service-list{background:url(../img/timg.png) 0 0/100% 100% no-repeat}
        .listdetail li{font-size:18px;padding-top:50px;padding-bottom:25px;position:relative;}
        .wrap{display:inline-block;position:relative;overflow:hidden;float:left;height:300px;}
        .listdetail .wrap img{height:300px;width:200px;}
        .smaller-image{ top: 20px;height:300px;width:200px;}  /*对图片进行裁剪以显示圆形区域*/
        h2{padding-left: 20px;}
        dd{padding-left: 20px;}
    </style>
</head>
<body>
<div class="con-service-list setHeight">
    <!--导航条-->
    <div class="line"></div>
    <div class="index-header">
        <div class="auto">
            <a href="../index.html" id="logo"></a>
            <ul class="clear">
                <li>
                    <a href="../index.html">首页</a>
                </li>
                <li class="twoLevel">
                    <a href="../product.html">产品与解决方案</a>
                </li>
                <li>
                    <a href="../service.html">品牌优势</a>
                </li>
                <li>
                    <a href="../employ.html">人才招聘</a>
                </li>
                <li>
                    <a href="../about.html">了解我们</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--为con-service-list给屏幕高度-->
<div class="listdetail">
    <div class="auto">
        <ul>
            <li th:each="user : ${list}" class="clear">
                <div class="wrap">
                    <img th:src="@{../img/{photo_path}(photo_path=${user.photo})}" class="smaller-image"/>
                </div>
                <div>
                    <h2 th:text="${user.name}"></h2>
                    <dd class="intro">
                        <span th:text="${user.content}"></span>
                    </dd>
                </div>
            </li>
        </ul>
        <!--<div class="page">-->
        <!--<a class="pre" href="#">上一篇：xxxx</a>-->
        <!--<a class="next" href="#">下一篇：xxxx</a>-->
        <!--</div>-->
    </div>
</div>
<div class="footer ">
    <div class="auto clear">
        <dl>
            <dt><a href="/product.html">产品展示</a></dt>
            <img src="../img/gong_si_er_wei_ma.jpg" height="150px" width="150px"/>
            <br/>
            公司公众号
        </dl>
        <dl>
            <dt><a href="../about.html">公司简介</a></dt>
            <img src="../img/xiao_feng_music.jpg" height="150px" width="150px"/>
            <br/>
            小锋音乐公众号
        </dl>
        <dl>
            <dt><a href="../employ.html">人才招聘</a></dt>
            <img src="../img/wei_bo_er_wei_ma.jpg" height="150px" width="150px"/>
            <br/>
            新浪微博
        </dl>
        <dl class="img">
            <dt>联系我们</dt>
            <dd>北京市房山区</dd>
            <dd>176-00733846</dd>
            <dd>xfmusic@aliyun.com</dd>
        </dl>
    </div>
    <p class="copyrigt">copyright ©2018北京小锋文化传媒有限公司 备案号：105360490</p>
</div>
</div>
<!--底部联系-->
<div class="float-contect">
    <div class="tel">
        <span></span>
        <div class="slide-tel">
            176-00733846
        </div>
    </div>
    <div class="online">
        <span></span>
        <div class="slide-online">
            在线咨询
        </div>
    </div>
    <div class="backtop">
        <span></span>
        <div class="slide-top">
            回到顶部
        </div>
    </div>
</div>
<!--百度地图-->
<div class="map">
    <div class="close"></div>
    <div id="showMap"></div>
</div>
<script type="text/javascript" src="../js/jquery-1.12.1.min.js" ></script>
<script type="text/javascript" src="../js/common.js" ></script>
</body>
</html>
