<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>公司简介</title>
    <link rel="stylesheet" href="./css/common.css" />
    <link rel="stylesheet" href="./css/about2.css" />
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=7IN3zE1VQTY6XEGACnvqWRdLZjXeEvRs"></script>
</head>

<body>
    <div class="about setHeight">
        <!--导航条-->
        <div class="line"></div>
        <div class="index-header">
            <div class="auto">
                <a href="index.html" id="logo"></a>
                <ul class="clear">
                    <li>
                        <a href="index.html">首页</a>
                    </li>
                    <li class="twoLevel">
                        <a href="product.html">产品与解决方案</a>
                    </li>
                    <li>
                        <a href="service.html">品牌优势</a>
                    </li>
                    <li>
                        <a href="employ.html">人才招聘</a>
                    </li>
                    <li>
                        <a href="about.html">了解我们</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--为service给屏幕高度-->
    <div class="company-intro">
        <div class="auto">
            <h1>公司简介</h1>
            <div class="intro">
                <a href="#">北京小锋文化传媒有限公司</a> 作为一家年轻的公司，有源源不断的活力，是一家真正拥有核心技术能力的多元化文化传播公司，旗下有广告，品牌推广，图像设计，音频制作，文字编辑，主播服务，微电影制作，信息技术服务等多项业务。
                成员有从业七八年的行业先驱，也有从国内知名学府刚刚毕业的新晋才子，是一个包容性强，温和，有感情的公司。公司以“用最专业的服务，保证最优的产品品质和最好的用户体验"为宗旨，正在成长为一个飞速发展和拥有良好行业信誉度的公司。公司
                注重文化内涵，尊重每一个客户的习惯和爱好，并有专业人员具体分析每一个客户的需求，提出针对性极强的个性化方案，保证用户的满意度和服务质量。北京小锋文化传媒有限公司的骨干在公司成立之前就有八年的行业经验，在媒体资源，社会资源，
                专业资源等方面有深厚的积累，不仅在自媒体和独立经纪人等执行层面经验丰富，而且在平台服务，市场营销，行政公关等方面可为您提供完备的解决方案，解放您的双脚。精准的方案、独特的创意、完美的执行、坚定的信念与不懈的奋斗使北
                京小锋文化传播有限公司依托市场强大的信息资源和本身完善的服务体系，为客户提供完善的一站式服务。“小锋传媒”将以市场需求为平台，创新企业梦想，诠释精彩文化，为缔造文化精品而不懈努力，与中国文化产业同步发展，共创辉煌！
            </div>
            <h2>公司宗旨</h2>
            <div class="motto">
                <span>把娱乐商业化、把商业娱乐化。</span>
            </div>
            <h2>公司原则</h2>
            <div class="principle">
                <p>第一，必须坚持客户第一的原则。公司全体员工必须要重视体验，能切实站在客户的角度去为他们排忧解难，体现价值。</p>
                <p>第二，必须坚持精益求精的原则。如何服务好客户，给客户提供超越期望的产品和服务，这需要我们每一个人竭尽全力地去做到精益求精；而如何做到一直为客户提供超越预期的产品和服务，就需要我们每一个人必须能做到持之以恒，数载如一地去追求精益求精。 </p>
            </div>
            <ul class="clear">
                <li class="device3">
                    <dl>
                        <dt>
                            <img src="img/c1.png" />
                            <img src="img/c2.png" />
                            <img src="img/c3.png" />
                            <img src="img/c4.png" />
                            <img src="img/c5.png" />
                            <img src="img/c6.png" />
                            <img src="img/c7.png" />
                            <img src="img/c8.png" />
                        </dt>
                        <dd class="d-title">量身打造</dd>
                        <dd>
                            针对不同客户状况、客户特殊需求等量身打造，无论专业化的方案定制，还是独一无二的视觉效果设计，我们都游刃有余，无不体现“定制”的意义。
                        </dd>
                    </dl>
                </li>
                <li class="device3">
                    <dl>
                        <dt>
                            <img src="img/t1.png" />
                            <img src="img/t2.png" />
                            <img src="img/t3.png" />
                            <img src="img/t4.png" />
                            <img src="img/t5.png" />
                            <img src="img/t6.png" />
                            <img src="img/t7.png" />
                            <img src="img/t8.png" />
                            <img src="img/t9.png" />
                        </dt>
                        <dd class="d-title">设计专业</dd>
                        <dd>策划，摄影师，设计师等均来自国内知名学府相应专业，让您想要的产品绝对高端大气，雍容华贵。产品画质细粒度
                            远超行业平均水平，只为带给您更加良好的体验</dd>
                    </dl>
                </li>
                <li class="device3">
                    <dl>
                        <dt>
                            <img src="img/b1.png" />
                            <img src="img/b2.png" />
                            <img src="img/b3.png" />
                            <img src="img/b4.png" />
                        </dt>
                        <dd class="d-title">全网推广</dd>
                        <dd>全网是互联网时代的产物，我们不只是做实体的产品推广，也不仅仅限于少数几个平台，旗下与今日头条，百度音乐，网易cc,全民k歌等三十多家平台均有合作</dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
    <div class="our-team">
        <div class="auto viewport">
            <h1>我们的团队</h1>
            <ul class="slider clear">
                <li class="clear animate">
                    <div class="position">
                        <P class="translateT">艺人经纪人</P>
                        <span>
                            负责公司新艺人的挖掘，洽谈和签约工作，公司签约艺人对外合作的初步审查，对企业宣传的各种工作流程了然于心，八年来在业界积攒了广泛的人脉和经验，我不仅仅是能做的更好而已
                           </span>
                        <a href="javascript:void(0);" class="translateT">加入我们</a>
                    </div>
                    <div class="img">
                        <img src="img/o12.png" class="translateL" />
                        <img src="img/o14.png" class="translateL" />
                        <img src="img/o13.png" class="translateL" />
                        <img src="img/o15.png" class="translateL" />
                        <img src="img/o17.png" class="translateL" />
                        <img src="img/o16.png" class="translateL" />
                    </div>
                </li>
                <li class="clear animate">
                    <div class="position">
                        <P class="translateT">行政</P>
                        <span>
                            负责协调各个公司，部门之间的关系，规划场地等，为客户提供便捷
                            ，顺畅的体验，苦点累点委屈点不怕什么，用户体验不好才是最大的挫折
                        </span>
                        <a href="javascript:void(0);" class="translateT">加入我们</a>
                    </div>
                    <div class="img">
                        <img src="img/o5.png" class="translateL" />
                        <img src="img/o6.png" class="translateR" />
                    </div>
                </li>
                <li class="clear animate">
                    <div class="position">
                        <P class="translateT">策划</P>
                        <span>
                            我们喜爱创新，对创意设计有着极高的热情，并准备着为一个好的点子通宵达旦。我们不仅提供漂亮的设计，更知道设计是一种方法或策略，而非仅仅是美术自由，设计载体是品牌，强调设计的实用性。                           </span>
                        <a href="javascript:void(0);" class="translateT">加入我们</a>
                    </div>
                    <div class="img">
                        <img src="img/o18.png" class="translateR" />
                        <img src="img/o21.png" class="translateR" />
                        <img src="img/o19.png" class="translateR" />
                        <img src="img/o20.png" class="translateL" />
                        <img src="img/o22.png" class="translateL" />
                    </div>
                </li>
                <li class="clear animate">
                    <div class="position">
                        <P class="translateT">程序员</P>
                        <span>
从事程序开发、维护的专业人员。拥有强大的开发力量，依照客户需求及工作流程来定制专属平台，优化网站结构，精简程序代码，为每个客户提供专属的定制化服务，并为每个客户提供长期的技术支持                          </span>
                        <a href="javascript:void(0);" class="translateT">加入我们</a>
                    </div>
                    <div class="img">
                        <img src="img/o1.png" class="translateD" />
                        <img src="img/o2.png" class="translateT" />
                        <img src="img/o3.png" class="translateT" />
                        <img src="img/o4.png" class="translateD" />
                    </div>
                </li>
                <li class="clear animate">
                    <div class="position">
                        <P class="translateT">实施工程师</P>
                        <span>
                        有多年行业经验，人脉丰富，行事果断，精通adobu家族和各种影视，声学设备，如此强大的执行者你还在担心什么？
                        </span>
                        <a href="javascript:void(0);" class="translateT">加入我们</a>
                    </div>
                    <div class="img">
                        <img src="img/o7.png" class="translateL" />
                        <img src="img/o8.png" class="translateL" />
                        <img src="img/o9.png" class="translateL" />
                        <img src="img/o10.png" class="translateR" />
                        <img src="img/o11.png" class="translateD" />
                    </div>
                </li>
            </ul>
            <div class="slider-pre-next">
                <div class="pre"><img src="img/getleft.png"></div>
                <div class="next"><img src="img/getrigth.png"></div>
            </div>
        </div>
    </div>
    <div class="connect-us">
        <div class="auto">
            <p>联系我们</p>
            <ul>
                <li class="head">
                    <span>公司</span>
                    <span>联系地址</span>
                    <span>联系电话</span>
                </li>
                <li>
                    <span>北京总公司</span>
                    <span>北京市房山区</span>
                    <span>020-5334345</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="our-partner">
        <div class="auto">
            <h1>合作伙伴</h1>
            <div class="wrap">
                <ul class="clear">
                    <li>
                        <img src="./img/friends/douyu.jpg" />
                    </li>
                    <li>
                        <img src="./img/friends/douyin.jpg" />
                    </li>
                    <li>
                        <img src="./img/friends/jinritoutiao.jpg" />
                    </li>
                    <li>
                        <img src="./img/friends/weishi.jpg" />
                    </li>
                    <li>
                        <img src="./img/friends/wangyicc.jpg" />
                    </li>
                    <li>
                        <img src="./img/friends/wangyiyun.jpg" />
                    </li>
                    <li>
                        <img src="./img/friends/aiqiyi.jpg" />
                    </li>
                    <li>
                        <img src="./img/friends/youku.jpg" />
                    </li>
                    <li>
                        <img src="./img/friends/baidu.jpg" />
                    </li>
                    <li>
                        <img src="./img/friends/fanxing.jpg" />
                    </li>
                    <li>
                        <img src="./img/friends/baidu.jpg" />
                    </li>
                    <li>
                        <img src="./img/friends/yy.jpg" />
                    </li>
                    <li>
                        <img src="./img/friends/yizhibo.jpg" />
                    </li>
                    <li>
                        <img src="./img/friends/kuaishou.jpg" />
                    </li>
                    <li>
                        <img src="./img/friends/kugou.jpg" />
                    </li>
                    <li>
                        <img src="./img/friends/qqyinyue.jpg" />
                    </li>
                    <li>
                        <img src="./img/friends/huoshan.jpg" />
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer ">
        <div class="auto clear">
            <dl>
                <dt><a href="/product.html">产品展示</a></dt>
                <img src="./img/gong_si_er_wei_ma.jpg" height="150px" width="150px"/>
                <br/>
               公司公众号
            </dl>
            <dl>
                <dt><a href="about.html">公司简介</a></dt>
                <img src="./img/xiao_feng_music.jpg" height="150px" width="150px"/>
                <br/>
                小锋音乐公众号
            </dl>
            <dl>
                <dt><a href="employ.html">人才招聘</a></dt>
                <img src="./img/wei_bo_er_wei_ma.jpg" height="150px" width="150px"/>
                <br/>
                新浪微博
            </dl>
            <dl class="img">
                <dt>联系我们</dt>
                <dd>北京市房山区</dd>
                <dd>176-00733846</dd>
                <dd>17600733846@163.com</dd>
            </dl>
        </div>
        <p class="copyrigt">copyright ©2018北京小锋文化传媒有限公司 备案号：XXXXXXX</p>
    </div>
    <!--百度地图-->
    <div class="map">
        <div class="close"></div>
        <div id="showMap"></div>
    </div>
    <!--底部联系-->
    <div class="float-contect">
        <div class="tel">
            <span></span>
            <div class="slide-tel">
                176-00733846
            </div>
        </div>
        <div class="online">
            <span></span>
            <div class="slide-online">
                在线咨询
            </div>
        </div>
        <div class="backtop">
            <span></span>
            <div class="slide-top">
                回到顶部
            </div>
        </div>
    </div>
    <script type="text/javascript" src="./js/jquery-1.12.1.min.js"></script>
    <script type="text/javascript" src="./js/common.js"></script>
    <script type="text/javascript" src="./js/about.js"></script>
</body>

</html>
