<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>招聘人才</title>
    <link rel="stylesheet" href="css/common.css" />
    <link rel="stylesheet" href="css/employ.css" />
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=7IN3zE1VQTY6XEGACnvqWRdLZjXeEvRs"></script>
</head>

<body>
    <div class="employ setHeight">
        <!--导航条-->
        <div class="line"></div>
        <div class="index-header">
            <div class="auto">
                <a href="index.html" id="logo"></a>
                <ul class="clear">
                    <li>
                        <a href="index.html">首页</a>
                    </li>
                    <li class="twoLevel">
                        <a href="product.html">产品与解决方案</a>
                    </li>
                    <li>
                        <a href="service.html">品牌优势</a>
                    </li>
                    <li>
                        <a href="employ.html">人才招聘</a>
                    </li>
                    <li>
                        <a href="about.html">了解我们</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="society-college">
            <div class="clear">
                <a href="javascript:void();" class="society on-active">社会招聘</a>
                <a href="javascript:void();" class="college">校园招聘</a>
            </div>
        </div>
    </div>
    <!--为employ给屏幕高度-->
    <div class="position ">
        <div class="auto position1">
            <h1>岗位分类</h1>
            <figure>
                <img src="img/employ-society.png" />
                <div><a href="#">短视频制作者</a></div>
                <div><a href="#">秘书</a></div>
                <div><a href="#">web前端开发工程师</a></div>
                <div><a href="#">公关</a></div>
                <div><a href="#">人事</a></div>
                <div><a href="#">宣传</a></div>
                <div><a href="#">销售</a></div>
            </figure>
        </div>
        <div class="auto position2">
            <h1>岗位分类</h1>
            <img class="img-college" src="img/employ-college.png" />
            <div class="move auto">
                <div>
                    <a>
                        <span>视频</span>
                        <br />
                        <span>制作</span>
                    </a>
                </div>
                <div>
                    <a>
                        <span>音乐</span>
                        <br />
                        <span>制作</span>
                    </a>
                </div>
                <div>
                    <a>
                        <span>图像</span>
                        <br />
                        <span>处理</span>
                    </a>
                </div>
                <div>
                    <a>
                        <span>自媒体</span>
                        <br />
                        <span>人员</span>
                    </a>
                </div>
                <div>
                    <a>
                        <span>行政</span>
                        <br />
                        <span>助理</span>
                    </a>
                </div>
                <div>
                    <a>
                        <span>经纪</span>
                        <br/>
                        <span>人</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="resume">
        <div class="auto">
            <img src="img/employ-resume2.png" />
            <div class="title">
                <P>是否因为无处施展才华而烦恼？</P>
                <p>那就赶紧加入<strong>小锋传媒</strong>！</p>
                <p>为你提供<strong>实现梦想</strong>的平台！</p>
                <div class="res-describe">
                    <div>
                        <a href="resume.html">编辑简历</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="treatment">
        <div class="auto">
            <h1>福利待遇</h1>
            <ul class="clear">
                <li>
                    <figure title="健康体检">
                        <img src="img/tre-health.png" alt="图片加载失败" />
                    </figure>
                    <span>健康体检</span>
                </li>
                <li>
                    <figure title="工资调薪">
                        <img src="img/tre-money.png" alt="图片加载失败" />
                    </figure>
                    <span>工资调薪</span>
                </li>
                <li>
                    <figure title="员工旅游">
                        <img src="img/tre-travel.png" alt="图片加载失败" />
                    </figure>
                    <span>员工旅游</span>
                </li>
                <li>
                    <figure title="综合补贴">
                        <img src="img/tre-together.png" alt="图片加载失败" />
                    </figure>
                    <span>综合补贴</span>
                </li>
                <li>
                    <figure title="出差补贴">
                        <img src="img/tre-business.png" alt="图片加载失败" />
                    </figure>
                    <span>出差补贴</span>
                </li>
                <li>
                    <figure title="生日礼物">
                        <img src="img/tre-birth.png" alt="图片加载失败" />
                    </figure>
                    <span>生日礼物</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer ">
        <div class="auto clear">
            <dl>
                <dt><a href="product.html">产品展示</a></dt>
                <img src="./img/gong_si_er_wei_ma.jpg" height="150px" width="150px"/>
                <br/>
                公司公众号
            </dl>
            <dl>
                <dt><a href="about.html">公司简介</a></dt>
                <img src="./img/xiao_feng_music.jpg" height="150px" width="150px"/>
                <br/>
                小锋音乐公众号
            </dl>
            <dl>
                <dt><a href="employ.html">人才招聘</a></dt>
                <img src="./img/wei_bo_er_wei_ma.jpg" height="150px" width="150px"/>
                <br/>
                新浪微博
            </dl>
            <dl class="img">
                <dt>联系我们</dt>
                <dd>北京市房山区</dd>
                <dd>176-00733846</dd>
                <dd>xfmusic@aliyun.com</dd>
            </dl>
        </div>
        <p class="copyrigt">copyright ©2018北京小锋文化传媒有限公司 备案号：105360490</p>
    </div>
    <!--百度地图-->
    <div class="map">
        <div class="close"></div>
        <div id="showMap"></div>
    </div>
    <!--底部联系-->
    <div class="float-contect">
        <div class="tel">
            <span></span>
            <div class="slide-tel">
                021-50530133
            </div>
        </div>
        <div class="online">
            <span></span>
            <div class="slide-online">
                在线咨询
            </div>
        </div>
        <div class="backtop">
            <span></span>
            <div class="slide-top">
                回到顶部
            </div>
        </div>
    </div>
    <script type="text/javascript" src="js/jquery-1.12.1.min.js"></script>
    <script type="text/javascript" src="js/common.js"></script>
    <script>
    function addMove() {
        if (window.addEventListener) {
            window.addEventListener("scroll", function() {
                scrollTop = window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop || 0;
                if (scrollTop > 500) {
                    $(".position figure").addClass("active");
                }
            })
        } else {
            window.attachEvent("onscroll", function() {
                scrollTop = window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop || 0;
                if (scrollTop > 500) {
                    $(".position figure").addClass("active");
                }
            })
        }
    }
    window.onscroll = addMove();

    var a = [{
        "position": ".position1",
        "a": ".society"
    }, {
        "position": ".position2",
        "a": ".college"
    }]

    function tab() {
        var order = $(this).index();
        var other = (order + 1) % 2;
        $(a[order].position).css("display", "block");
        $(a[other].position).css("display", "none");
        $(this).addClass("on-active");
        $(a[other].a).removeClass("on-active");
    }
    $(".society-college a").on("click", tab);
    </script>
</body>

</html>
