<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>产品与解决方案</title>
    <link rel="stylesheet" href="css/common.css" />
    <link rel="stylesheet" href="css/product.css" />
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=7IN3zE1VQTY6XEGACnvqWRdLZjXeEvRs"></script>
</head>

<body>
    <div class="product setHeight">
        <!--导航条-->
        <div class="line"></div>
        <div class="index-header">
            <div class="auto">
                <a href="index.html" id="logo"></a>
                <ul class="clear">
                    <li>
                        <a href="index.html">首页</a>
                    </li>
                    <li class="twoLevel">
                        <a href="product.html">产品与解决方案</a>
                    </li>
                    <li>
                        <a href="service.html">品牌优势</a>
                    </li>
                    <li>
                        <a href="employ.html">人才招聘</a>
                    </li>
                    <li>
                        <a href="about.html">了解我们</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="nav">
            <ul class="clear">
                <li>
                    <div>
                        <span></span>
                        <span></span>
                        <a href="con-" class="ps-img1"></a>
                    </div>
                    <div class="txt">合作明星</div>
                    <a href="con-service-list.html" class="more">了解更多 </a>
                </li>
                <li>
                    <div>
                        <span></span>
                        <span></span>
                        <a href="skill-form.html" class="ps-img2"></a>
                    </div>
                    <div class="txt">小程序</div>
                    <a href="skill-form.html" class="more">了解更多 </a>
                </li>
                <li>
                    <div>
                        <span></span>
                        <span></span>
                        <a href="product-" class="ps-img3"></a>
                    </div>
                    <div class="txt">产品服务</div>
                    <a href="product-service" class="more">了解更多 </a>
                </li>
            </ul>
        </div>
    </div>
    <!--为product给屏幕高度-->
    <div class="footer ">
        <div class="auto clear">
            <dl>
                <dt><a href="/product.html">产品展示</a></dt>
                <img src="./img/gong_si_er_wei_ma.jpg" height="150px" width="150px"/>
                <br/>
                公司公众号
            </dl>
            <dl>
                <dt><a href="about.html">公司简介</a></dt>
                <img src="./img/xiao_feng_music.jpg" height="150px" width="150px"/>
                <br/>
                小锋音乐公众号
            </dl>
            <dl>
                <dt><a href="employ.html">人才招聘</a></dt>
                <img src="./img/wei_bo_er_wei_ma.jpg" height="150px" width="150px"/>
                <br/>
                新浪微博
            </dl>
            <dl class="img">
                <dt>联系我们</dt>
                <dd>北京市房山区</dd>
                <dd>176-00733846</dd>
                <dd>xfmusic@aliyun.com</dd>
            </dl>
        </div>
        <p class="copyrigt">copyright ©2018北京小锋文化传媒有限公司 备案号：105360490</p>
    </div>
    <!--百度地图-->
    <div class="map">
        <div class="close"></div>
        <div id="showMap"></div>
    </div>
    <!--底部联系-->
    <div class="float-contect">
        <div class="tel">
            <span></span>
            <div class="slide-tel">
                176-00733846
            </div>
        </div>
        <div class="online">
            <span></span>
            <div class="slide-online">
                在线咨询
            </div>
        </div>
        <div class="backtop">
            <span></span>
            <div class="slide-top">
                回到顶部
            </div>
        </div>
    </div>
    <script type="text/javascript" src="js/jquery-1.12.1.min.js"></script>
    <script type="text/javascript" src="js/common.js"></script>
</body>

</html>
