<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>品牌优势</title>
    <link rel="stylesheet" href="css/common.css" />
    <!--<link rel="stylesheet" href="css/service.css" />-->
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=7IN3zE1VQTY6XEGACnvqWRdLZjXeEvRs"></script>
</head>

<body>
    <div class="service setHeight">
        <!--导航条-->
        <!--<div class="line"></div>-->
        <div class="index-header">
            <div class="auto">
                <a href="index.html" id="logo"></a>
                <ul class="clear">
                    <li>
                        <a href="index.html">首页</a>
                    </li>
                    <li class="twoLevel">
                        <a href="product.html">产品与解决方案</a>
                    </li>
                    <li>
                        <a href="service.html">品牌优势</a>
                    </li>
                    <li>
                        <a href="employ.html">人才招聘</a>
                    </li>
                    <li>
                        <a href="about.html">了解我们</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="listdetail">
            <div id="fullmeasureTopForms" class="auto">
                <div id='module315' _indexClass='formIndex1' _moduleType='1' _modulestyle='80' _moduleid='315'  class='form form315 formIndex1 formStyle80 fk-formFullmeasure ' title='' _sys='0' _banId='' style='' _side='0' _inTab='0' _inMulMCol='0' _inFullmeasure='0' _inpack='0' _inpopupzone='0' _infullmeasurepack='0' _autoHeight='0' _global='false' _independent='false' data-scrollbar='0'>
                    <div class='fillContentRelative' style='position:absolute; z-index:-1; height:100%; width:100%;display:none;'></div><div style='position:static;'  class='fullmeasureOuterContentPage fullmeasureOuterContentPage1 J_fullmeasurePageShow' page='1'>			<div class='fullmeasureOuterContentBg fullmeasureOuterContentBg315 fullmeasureStyle0'></div><div class='fullmeasureOuterContent fullmeasureOuterContent315'>
                    <div class='fullmeasureContent fullmeasureContent315' id='fullmeasureContent315_1' moduleId='315' ><div class='fullmeasureContentBg fullmeasureContentBg315'></div><div id='module316' _indexClass='' _moduleType='1' _modulestyle='87' _moduleid='316'  class='form form316 formStyle87 fk-formPack ' _createFrom='0' title='' _sys='0' _banId='' style='' _side='0' _inTab='0' _inMulMCol='0' _inFullmeasure='315' _inpack='0' _inpopupzone='0' _infullmeasurepack='0' _autoHeight='0' _global='false' _independent='false' data-scrollbar='0'>
                        <div class='J_packContent f-packContent f-packContent316 elemZone elemZoneModule' id='fk-packContent316'><div class='fk-elemZoneBg J_zoneContentBg elemZoneBg f-packContentBg f-packContentBg316'></div>
                            <div id='module317' bannerTitle='文本' _indexClass='' _moduleType='1' _modulestyle='86' _moduleid='317'  class='form form317 formStyle86 siteEditor  animateModule ' title='' _sys='0' _banId='' style='position:absolute;top:152px;left:0px;width:1200px;' _side='0' _inTab='0' _inMulMCol='0' _inFullmeasure='0' _inpack='316' _inpopupzone='0' _infullmeasurepack='0' _autoHeight='0' _global='false' _independent='false' data-scrollbar='0'>
                                <div class='lightModuleOuterContent lightModuleOuterContent317'><div class='fk-editor simpleText   '><span style="line-height: 35px;"><div style="text-align: center;"><span style="font-size: 26px;"><font style="color: rgb(255, 101, 55);" color="#ff6537">更合理、透明的费用管理模式</font></span></div><div style="text-align: center;"><span style=""><span style="font-size: 16px; color: rgb(102, 102, 102);" color="#666666"><span style="">我们专注于帮助客户成为不凡的领军品牌</span></span></span></div></span></div></div>
                            </div>
                            <div id='module318' bannerTitle='图片' _indexClass='' _moduleType='1' _modulestyle='79' _moduleid='318'  class='form form318 formStyle79 animateModule ' title='' _sys='0' _banId='' style='position:absolute;top:347px;left:150px;width:59px;' _side='0' _inTab='0' _inMulMCol='0' _inFullmeasure='0' _inpack='316' _inpopupzone='0' _infullmeasurepack='0' _autoHeight='0' _global='false' _independent='false' data-scrollbar='0'>
                                <div class='lightModuleOuterContent lightModuleOuterContent318'><div class='floatImg floatImg_J floatImg_J_special'><a hidefocus='true' class='J_floatImg_jump f_floatImg_jump '>
                                    <div class='floatImgWrap'><div class='forMargin'><img id='float_img_318' class='float_in_img J_defImage ' src='//11706031.s61i.faiusr.com/2/AD0Ir73KBRACGAAgvOzLwAUo3oqh6wQwOzg6.jpg'  alt='AD0Ir73KBRACGAAgvOzLwAUo3oqh6wQwOzg6' /></div></div></a>
                                </div></div>
                            </div>
                            <div id='module319' bannerTitle='图片' _indexClass='' _moduleType='1' _modulestyle='79' _moduleid='319'  class='form form319 formStyle79 animateModule ' title='' _sys='0' _banId='' style='position:absolute;top:349px;left:415px;width:57px;' _side='0' _inTab='0' _inMulMCol='0' _inFullmeasure='0' _inpack='316' _inpopupzone='0' _infullmeasurepack='0' _autoHeight='0' _global='false' _independent='false' data-scrollbar='0'>
                                <div class='lightModuleOuterContent lightModuleOuterContent319'><div class='floatImg floatImg_J floatImg_J_special'><a hidefocus='true' class='J_floatImg_jump f_floatImg_jump '>
                                    <div class='floatImgWrap'><div class='forMargin'><img id='float_img_319' class='float_in_img J_defImage ' src='//11706031.s61i.faiusr.com/2/AD0Ir73KBRACGAAgvuzLwAUo04y05QQwOTg5.jpg'  alt='AD0Ir73KBRACGAAgvuzLwAUo04y05QQwOTg5' /></div></div></a>
                                </div></div>
                            </div>
                            <div id='module320' bannerTitle='图片' _indexClass='' _moduleType='1' _modulestyle='79' _moduleid='320'  class='form form320 formStyle79 animateModule ' title='' _sys='0' _banId='' style='position:absolute;top:349px;left:984px;width:55px;' _side='0' _inTab='0' _inMulMCol='0' _inFullmeasure='0' _inpack='316' _inpopupzone='0' _infullmeasurepack='0' _autoHeight='0' _global='false' _independent='false' data-scrollbar='0'>
                                <div class='lightModuleOuterContent lightModuleOuterContent320'><div class='floatImg floatImg_J floatImg_J_special'><a hidefocus='true' class='J_floatImg_jump f_floatImg_jump '>
                                    <div class='floatImgWrap'><div class='forMargin'><img id='float_img_320' class='float_in_img J_defImage ' src='//11706031.s61i.faiusr.com/2/AD0Ir73KBRACGAAgv_zLwAUo0-2VhwcwNzg4.jpg'  alt='AD0Ir73KBRACGAAgv_zLwAUo0-2VhwcwNzg4' /></div></div></a>
                                </div></div>
                            </div>
                            <div id='module321' bannerTitle='图片' _indexClass='' _moduleType='1' _modulestyle='79' _moduleid='321'  class='form form321 formStyle79 animateModule ' title='' _sys='0' _banId='' style='position:absolute;top:356px;left:710px;width:75px;' _side='0' _inTab='0' _inMulMCol='0' _inFullmeasure='0' _inpack='316' _inpopupzone='0' _infullmeasurepack='0' _autoHeight='0' _global='false' _independent='false' data-scrollbar='0'>
                                <div class='lightModuleOuterContent lightModuleOuterContent321'><div class='floatImg floatImg_J floatImg_J_special'><a hidefocus='true' class='J_floatImg_jump f_floatImg_jump '>
                                    <div class='floatImgWrap'><div class='forMargin'><img id='float_img_321' class='float_in_img J_defImage ' src='//11706031.s61i.faiusr.com/2/AD0Ir73KBRACGAAgwezLwAUog_S2ogIwSzgy.jpg'  alt='AD0Ir73KBRACGAAgwezLwAUog_S2ogIwSzgy' /></div></div></a>
                                </div></div>
                            </div>
                            <div id='module322' bannerTitle='文本' _indexClass='' _moduleType='1' _modulestyle='86' _moduleid='322'  class='form form322 formStyle86 siteEditor  animateModule ' title='' _sys='0' _banId='' style='position:absolute;top:426px;left:81px;width:201px;' _side='0' _inTab='0' _inMulMCol='0' _inFullmeasure='0' _inpack='316' _inpopupzone='0' _infullmeasurepack='0' _autoHeight='0' _global='false' _independent='false' data-scrollbar='0'>
                                <div class='lightModuleOuterContent lightModuleOuterContent322'><div class='fk-editor simpleText   '><div style="text-align: center;"><span style="font-size: 16px; background-color: transparent;"><font style="color: rgb(102, 102, 102);" color="#666666">产品宣传片</font></span></div><span style="font-size: 16px;"><div style="text-align: center;"><span style="line-height: 35px;"><font style="color: rgb(148, 148, 148);" color="#949494">Product promotion film</font></span></div></span></div></div>
                            </div>
                            <div id='module324' bannerTitle='文本' _indexClass='' _moduleType='1' _modulestyle='86' _moduleid='324'  class='form form324 formStyle86 siteEditor  animateModule ' title='' _sys='0' _banId='' style='position:absolute;top:426px;left:327px;width:233px;' _side='0' _inTab='0' _inMulMCol='0' _inFullmeasure='0' _inpack='316' _inpopupzone='0' _infullmeasurepack='0' _autoHeight='0' _global='false' _independent='false' data-scrollbar='0'>
                                <div class='lightModuleOuterContent lightModuleOuterContent324'><div class='fk-editor simpleText   '><div style="text-align: center;"><div><span style="font-size: 16px; line-height: 13px;">企业专题片</span><br></div><div><span style="font-size: 16px;"><span style="line-height: 35px;"><font style="color: rgb(148, 148, 148);" color="#949494">Enterprise feature films</font></span></span></div></div></div></div>
                            </div>
                            <div id='module327' bannerTitle='文本' _indexClass='' _moduleType='1' _modulestyle='86' _moduleid='327'  class='form form327 formStyle86 siteEditor  animateModule ' title='' _sys='0' _banId='' style='position:absolute;top:426px;left:911px;width:201px;' _side='0' _inTab='0' _inMulMCol='0' _inFullmeasure='0' _inpack='316' _inpopupzone='0' _infullmeasurepack='0' _autoHeight='0' _global='false' _independent='false' data-scrollbar='0'>
                                <div class='lightModuleOuterContent lightModuleOuterContent327'><div class='fk-editor simpleText   '><div style="text-align: center;"><span style="font-size: 16px;"><font style="color: rgb(102, 102, 102);" color="#666666">品牌微电影</font></span></div><div style="text-align: center;"><font color="#949494"><span style="font-size: 16px; line-height: 35px;">Brand micro film</span></font><br></div></div></div>
                            </div>
                            <div id='module328' bannerTitle='文本' _indexClass='' _moduleType='1' _modulestyle='86' _moduleid='328'  class='form form328 formStyle86 siteEditor  animateModule ' title='' _sys='0' _banId='' style='position:absolute;top:427px;left:634px;width:233px;' _side='0' _inTab='0' _inMulMCol='0' _inFullmeasure='0' _inpack='316' _inpopupzone='0' _infullmeasurepack='0' _autoHeight='0' _global='false' _independent='false' data-scrollbar='0'>
                                <div class='lightModuleOuterContent lightModuleOuterContent328'><div class='fk-editor simpleText   '><div style="text-align: center;"><div><span style="font-size: 16px; line-height: 13px;">宣传广告片</span></div><div><font color="#949494"><span style="font-size: 16px; line-height: 35px;">Advertising film</span></font><br></div></div></div></div>
                            </div>
                            <div id='module329' bannerTitle='图片' _indexClass='' _moduleType='1' _modulestyle='79' _moduleid='329'  class='form form329 formStyle79 animateModule ' title='' _sys='0' _banId='' style='position:absolute;top:776px;left:35px;width:404px;' _side='0' _inTab='0' _inMulMCol='0' _inFullmeasure='0' _inpack='316' _inpopupzone='0' _infullmeasurepack='0' _autoHeight='0' _global='false' _independent='false' data-scrollbar='0'>
                                <div class='lightModuleOuterContent lightModuleOuterContent329'><div class='floatImg floatImg_J floatImg_J_special'><a hidefocus='true' class='J_floatImg_jump f_floatImg_jump '>
                                    <div class='floatImgWrap'><div class='forMargin'><img id='float_img_329' class='float_in_img J_defImage ' src='//11706031.s61i.faiusr.com/2/AD0Ir73KBRACGAAgw_zLwAUo9ISf3QcwlAM44wI.jpg'  alt='AD0Ir73KBRACGAAgw_zLwAUo9ISf3QcwlAM44wI' /></div></div></a>
                                </div></div>
                            </div>
                            <div id='module330' bannerTitle='文本' _indexClass='' _moduleType='1' _modulestyle='86' _moduleid='330'  class='form form330 formStyle86 siteEditor  animateModule ' title='' _sys='0' _banId='' style='position:absolute;top:866px;left:632px;width:481px;' _side='0' _inTab='0' _inMulMCol='0' _inFullmeasure='0' _inpack='316' _inpopupzone='0' _infullmeasurepack='0' _autoHeight='0' _global='false' _independent='false' data-scrollbar='0'>
                                <div class='lightModuleOuterContent lightModuleOuterContent330'><div class='fk-editor simpleText   '><font color="#ff6537" style="color: rgb(255, 101, 55);"><span style="line-height: 30px; font-size: 26px;">八年专业实力 融创意与营销思维为一体</span></font><div><span style="color: rgb(102, 102, 102); font-size: 16px;" color="#666666"><span style="line-height: 55px;">CREATIVE THINKING</span></span></div><div><span style="font-size: 14px;"><font style="color: rgb(148, 148, 148);" color="#949494"><span style="line-height: 25px;"><div>源自国内知名学府的专业的摄制团队 </div><div>创意总监<span style="background-color: transparent;">具有长达八年的影视作品摄</span></div><div><span style="background-color: transparent;"> 编实力，</span><span style="background-color: transparent;">擅长融入营销思维来展现影片</span></div></span></font></span></div></div></div>
                            </div>
                            <div id='module331' bannerTitle='文本' _indexClass='' _moduleType='1' _modulestyle='86' _moduleid='331'  class='form form331 formStyle86 siteEditor  animateModule ' title='' _sys='0' _banId='' style='position:absolute;top:1399px;left:90px;width:336px;' _side='0' _inTab='0' _inMulMCol='0' _inFullmeasure='0' _inpack='316' _inpopupzone='0' _infullmeasurepack='0' _autoHeight='0' _global='false' _independent='false' data-scrollbar='0'>
                                <div class='lightModuleOuterContent lightModuleOuterContent331'><div class='fk-editor simpleText   '><span style="font-size: 16px;"><font style="color: rgb(255, 101, 55);" color="#ff6537"><span style="font-size: 26px;"><span style="line-height: 30px;">资深网络营销策划优势</span></span></font><div><span style="line-height: 55px;">MARKETING PlANNING</span></div><div><span style="font-size: 14px;"><font style="color: rgb(148, 148, 148);" color="#949494"><span style="line-height: 25px;"><div>小锋传媒旗下拥有跨界网络营销业内知名品牌</div><div>中国营销品牌鼎智汇海官方指定营销视频摄制方</div><div>赠送价值6000元的跨界微信营销第三方平台使用</div><div>专业的网络营销团队参与营销视频的方案创作</div></span></font></span></div></span></div></div>
                            </div>
                            <div id='module332' bannerTitle='图片' _indexClass='' _moduleType='1' _modulestyle='79' _moduleid='332'  class='form form332 formStyle79 animateModule ' title='' _sys='0' _banId='' style='position:absolute;top:1340px;left:588px;width:524px;' _side='0' _inTab='0' _inMulMCol='0' _inFullmeasure='0' _inpack='316' _inpopupzone='0' _infullmeasurepack='0' _autoHeight='0' _global='false' _independent='false' data-scrollbar='0'>
                                <div class='lightModuleOuterContent lightModuleOuterContent332'><div class='floatImg floatImg_J floatImg_J_special'><a hidefocus='true' class='J_floatImg_jump f_floatImg_jump '>
                                    <div class='floatImgWrap'><div class='forMargin'><img id='float_img_332' class='float_in_img J_defImage ' src='//11706031.s61i.faiusr.com/2/AD0Ir73KBRACGAAgxOzLwAUomZKs0gMwjAQ4mQI.jpg'  alt='AD0Ir73KBRACGAAgxOzLwAUomZKs0gMwjAQ4mQI' /></div></div></a>
                                </div></div>
                            </div>
                            <div id='module333' bannerTitle='图片' _indexClass='' _moduleType='1' _modulestyle='79' _moduleid='333'  class='form form333 formStyle79 animateModule ' title='' _sys='0' _banId='' style='position:absolute;top:1922px;left:36px;width:415px;' _side='0' _inTab='0' _inMulMCol='0' _inFullmeasure='0' _inpack='316' _inpopupzone='0' _infullmeasurepack='0' _autoHeight='0' _global='false' _independent='false' data-scrollbar='0'>
                                <div class='lightModuleOuterContent lightModuleOuterContent333'><div class='floatImg floatImg_J floatImg_J_special'><a hidefocus='true' class='J_floatImg_jump f_floatImg_jump '>
                                    <div class='floatImgWrap'><div class='forMargin'><img id='float_img_333' class='float_in_img J_defImage ' src='//11706031.s61i.faiusr.com/2/AD0Ir73KBRACGAAgx_zLwAUohuKXWDCfAzipAg.jpg'  alt='AD0Ir73KBRACGAAgx_zLwAUohuKXWDCfAzipAg' /></div></div></a>
                                </div></div>
                            </div>
                            <div id='module334' bannerTitle='文本' _indexClass='' _moduleType='1' _modulestyle='86' _moduleid='334'  class='form form334 formStyle86 siteEditor  animateModule ' title='' _sys='0' _banId='' style='position:absolute;top:1992px;left:696px;width:399px;' _side='0' _inTab='0' _inMulMCol='0' _inFullmeasure='0' _inpack='316' _inpopupzone='0' _infullmeasurepack='0' _autoHeight='0' _global='false' _independent='false' data-scrollbar='0'>
                                <div class='lightModuleOuterContent lightModuleOuterContent334'><div class='fk-editor simpleText   '><span style="font-size: 26px;"><font style="color: rgb(255, 101, 55);" color="#ff6537"><span style="line-height: 30px;">强大网络资源视频可免费修改</span></font></span><div><span style="font-size: 16px;"><span style="line-height: 55px;">CYBER SOURCE</span></span></div><div><span style="font-size: 14px;"><font style="color: rgb(148, 148, 148);" color="#949494"><span style="line-height: 25px;"><div>拥有覆盖全网的视频推广能力</div><div style="">5000余家网媒资源 30余家视频合作平台</div><div style="">微信 微博亿级粉丝营销发布平台</div><div style="">视频存档 终身免费修改</div></span></font></span></div></div></div>
                            </div>
                        </div></div>
                    </div></div>
                    <div class='clearfloat clearfloat315'></div>
                </div></div>
                <wbr style='display:none;' /></div>
        </div>
        <!--<div class="footer">-->
            <!--<div class="auto clear">-->
                <!--<dl>-->
                    <!--<dt><a href="/product.html">产品展示</a></dt>-->
                    <!--<img src="./img/gong_si_er_wei_ma.jpg" height="150px" width="150px"/>-->
                    <!--<br/>-->
                    <!--公司公众号-->
                <!--</dl>-->
                <!--<dl>-->
                    <!--<dt><a href="about.html">公司简介</a></dt>-->
                    <!--<img src="./img/xiao_feng_music.jpg" height="150px" width="150px"/>-->
                    <!--<br/>-->
                    <!--小锋音乐公众号-->
                <!--</dl>-->
                <!--<dl>-->
                    <!--<dt><a href="employ.html">人才招聘</a></dt>-->
                    <!--<img src="./img/wei_bo_er_wei_ma.jpg" height="150px" width="150px"/>-->
                    <!--<br/>-->
                    <!--新浪微博-->
                <!--</dl>-->
                <!--<dl class="img">-->
                    <!--<dt>联系我们</dt>-->
                    <!--<dd>北京市房山区</dd>-->
                    <!--<dd>021-50530133</dd>-->
                    <!--<dd>Connact@levelaprro.com</dd>-->
                <!--</dl>-->
            <!--</div>-->
            <!--<p class="copyrigt">copyright ©2018北京小锋文化传媒有限公司 备案号：XXXXXXX</p>-->
        <!--</div>-->
        <!--&lt;!&ndash;百度地图&ndash;&gt;-->
        <!--<div class="map">-->
            <!--<div class="close"></div>-->
            <!--<div id="showMap"></div>-->
        <!--</div>-->
        <!--底部联系-->
        <div class="float-contect">
            <div class="tel">
                <span></span>
                <div class="slide-tel">
                    021-50530133
                </div>
            </div>
            <div class="online">
                <span></span>
                <div class="slide-online">
                    在线咨询
                </div>
            </div>
            <div class="backtop">
                <span></span>
                <div class="slide-top">
                    回到顶部
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="js/jquery-1.12.1.min.js"></script>
    <script type="text/javascript" src="js/common.js"></script>
</body>

</html>
